@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        background-image: linear-gradient(to bottom, #8325c0, #5b00ca, #17878f);
    }

    #container {
        width: 90vw;
    }

    div.imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center;
    }

    div#formulario {
        float: right;
        width: 70%;
    }

    div.mail input, div.sen input {
        width: 99%;
    }

    div#botao1 input, div#botao2 input {
        width: 100%;
    }
}

@media screen and (min-width: 992px){
    html {
        background-image: linear-gradient(to bottom, #8325c0, #5b00ca, #17878f);
    }

    #container {
        width: 950px;
    }

    div.imagem {
        float: right;
        width: 30%;
        height: 100%;
        background-position: center center;
    }

    div#formulario {
        float: left;
        width: 70%;
    }

    div.mail input, div.sen input {
        width: 99%;
    }

    div#botao1 input, div#botao2 input {
        width: 100%;
    }
}